<%= form_with(model: withdrawal) do |form| %>
  <% if withdrawal.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(withdrawal.errors.count, "error") %> prohibited this withdrawal from being saved:</h2>

      <ul>
        <% withdrawal.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <form>
    <div>
      <%= form.label "Quantidade", style: "display: block" %>
      <%= form.number_field :amount, class:"form-control" %>
    </div>

    <%= form.number_field :account_id, id: :account_id, class:"form-control", value: current_account.id, type: :hidden  %>

    <div>
      <%= form.submit "Realizar Saque", class:"btn btn-primary mt-3" %>
    </div>
  </form>
  
<% end %>
