<div id="<%= dom_id transaction %>">
  <p>
    <strong>Amount:</strong>
    <%= transaction.amount %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= transaction.description %>
  </p>

  <p>
    <strong>Account id target:</strong>
    <%= transaction.account_id_target %>
  </p>

  <p>
    <strong>Account id source:</strong>
    <%= transaction.account_id_source %>
  </p>

  <p>
    <strong>Account num target:</strong>
    <%= transaction.account_num_target %>
  </p>

  <p>
    <strong>Account num source:</strong>
    <%= transaction.account_num_source %>
  </p>

</div>
